:root {
    --cor-primaria: #fff;
    --cor-secundaria: #00bac6;
    --cor-tercearia: #000000;
    --cor-hover: #00bac6;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: 60%;
}

.logo-nome {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #fff;
}

/* 1 REM equivale 16px (Ideal para textos)
   % Ideal para imgs, paddins, divs*/

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.5%;
    height: 15vh;
    background-color: #00bac6;
}

.nav-list {
    display: flex;
    list-style: none;
    color: #fff;

}

.nav-list li {
    letter-spacing: 0.3rem;
    margin: 1.2rem;
}

main {
    background: var(--cor-primaria);
    min-height: 80vh;
}

body {
    background: var(--cor-tercearia);
}

footer {
    background: var(--cor-secundaria);
    color: var(--cor-primaria);
    height: 05vh;
    text-align: center;
    padding: 0.5rem;
}

/*======================= Sobre =======================*/

.col-2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.col-2 img {
    width: 100%;
}

@media (max-width: 999px) {
    .col-2 img {
        width: 80%;
        margin: 0 auto;
    }

    .col-2__ana {
        width: 60% !important;
        margin: 0 auto;

    }
}

.col-2__ana {
    width: 15%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.col-2 ul {
    list-style: none;
    margin-top: 15%;
}

.col-2 p {
    margin-bottom: 15%;
    text-align: center;
}

.pague {
    margin-bottom: 10%;
}


/*======================= Contatos =======================*/

.container {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    text-align: center;
    height: 80vh;
}

.container__btn {
    margin: 0 auto;
    padding: 2%;
    background: var(--cor-secundaria);
    border: 42px solid;
    border-radius: 70px;
    display: block;
    border: #fff;
}

.container__btn:hover {
    background: var(--cor-primaria);
    color: #00bac6;
    border: #fff;
}